 * {
   background-color: black;
 }
 
 #root {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  background-color: black;
}


.num-buttons {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-row: 2;
  grid-column: 2;
}

.display {
  grid-column: 2;
  margin-top: 100px;
  background-color: rgb(119, 92, 92);
  font-family: monospace;
  font-size: 35px;
}

button {
  background-color: pink;
  font-family: monospace;
  font-size: 35px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(142, 142, 247);
}

.zero {
  grid-column: 1 / 3;

}
